service/src/main/webapp/WEB-INF/resources/ExceptionWebEntity.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="error" type="exceptionWebEntity"/>

  <xs:complexType name="exceptionWebEntity">
    <xs:sequence>
      <xs:element name="code" type="xs:int"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="stackTrace" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

