properties-util/src/main/resources/properties-loader-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="properties" type="propertiesType"/>

    <xs:complexType name="propertiesType">
        <xs:sequence>
            <xs:element name="file" type="fileType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fileType">
        <xs:attribute name="resourcePath" type="xs:string" use="required"/>
    </xs:complexType>

</xs:schema>